article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

html,
body {
  background: #222222;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #dddddd;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: 2px;
  transition: all 0.3s ease;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 98, 98);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar fpr firefox */
.scroller {
  overflow-y: scroll;
  scrollbar-color: #222222;
  scrollbar-width: thin;
}

::selection {
  color: #222;
  background-color: cyan;
}

p {
  line-height: 1.5em;
}

button {
  cursor: pointer;
  outline: none;
}

section h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 98%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 100;
  transition: all 0.1s;
}

.logo {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  mix-blend-mode: difference;
}

.nav-links {
  list-style: none;
  display: flex;
  mix-blend-mode: difference;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.resp-menu {
  display: flex;
  width: 90px;
  justify-content: space-around;
}

.nav-open {
  display: none;
  margin-bottom: 5px;
  font-size: 38px;
  cursor: pointer;
  mix-blend-mode: difference;
}

@media screen and (max-width: 640px) {
  .nav-open {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  overflow: hidden;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.shadowed {
  background: #222;
  mix-blend-mode: normal;
  transition: all 0.1s;
}

.lighten {
  background: #dddddd;
  mix-blend-mode: normal;
  transition: all 0.1s;
}

.heading {
  display: flex;
  justify-content: center;
  background: #dddddd;
  height: 400px;
  z-index: -1;
}

.heading-center {
  display: flex;
  flex-direction: column;
}

.arrow {
  color: #222222;
  width: 120px;
  align-self: center;
  margin-left: 3rem;
}

/* spacing */
.page-wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

@media screen and (max-width: 640px) {
  .page-wrap {
    width: 94%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.heading-title {
  margin-top: 6rem;
  width: 80%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #222;
  align-self: center;
  justify-content: center;
}

.heading-title h1 {
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
}

.heading-title h2 {
  font-size: 2rem;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .heading-title h1 {
    font-size: 2rem;
  }

  .heading-title h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-title h1 {
    font-size: 1.5rem;
  }

  .heading-title h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 640px) {
  .heading-title h2 {
    font-size: 1.1rem;
  }
}

/* Invert the colors for dark mode */

body div.darkmode {
  align-self: center;
  font-size: 3.5rem;
  padding: 1rem 1rem 0.75rem 1rem;
  cursor: pointer;
  mix-blend-mode: difference;
  color: white;
  margin-bottom: -40px;
}

body div.darkmode2 {
  margin-right: 25px;
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: all 0.1s;
  mix-blend-mode: difference;
}

.light,
.dark,
.light2,
.dark2 {
  display: none;
}

.toggle-button {
  display: block;
}

.toggle-button-nav {
  display: none;
  transition: all 0.3s ease;
}

.invert {
  filter: invert(1);
}

.invert-img {
  filter: invert(1);
}

/* Portfolio Section */

.portfolio-desc {
  border-bottom: .5px solid #1f1c1c;
  padding: 7.5rem 0;
  text-align: center;
}

.portfolio-desc p {
  font-size: 1.2em;
  font-weight: 200;
  padding: 0 15%;
}

@media screen and (max-width: 1600px) {
  .portfolio-desc p {
    padding: 0 10%;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-desc p {
    padding: 0;
  }
}

/* Portfolio Content Text */

.portfolio {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  padding: 4em 0;
}

.portfolio h3 {
  font-size: 1.875em;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.paragraph p {
  font-size: 1.2em;
  font-weight: 200;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .paragraph p {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .paragraph p {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 640px) {
  .paragraph p {
    font-size: 1.125em;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1600px) {
  .paragraph p {
    text-align: left;
    width: 100%;
    margin-left: 0;
  }

  .paragraph {
    padding: 7.5em 0;
  }
}

/* Portfolio Buttons */
.portfolio-button {
  float: left;
  text-decoration: none;
  width: 16%;
  margin: 1.875em 0 3.75em 0;
  padding: 1em 0;
  font-size: 0.875em;
  border-radius: 1rem;
  background-color: #222;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .portfolio-button {
    width: 22%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-button {
    width: 30%;
  }
}

@media screen and (max-width: 640px) {
  .portfolio-button {
    width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio-button {
    width: 45%;
  }
}


.portfolio .checkGithub {
  margin-left: 32.5%;
  margin-right: 1%;
}

@media screen and (max-width: 1024px) {
  .portfolio .checkGithub {
    margin-left: 27.5%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .checkGithub {
    margin-left: 19.5%;
  }
}

@media screen and (max-width: 640px) {
  .portfolio .checkGithub {
    margin: 1.875em 0 0 10%;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio .checkGithub {
    margin-left: 0;
    margin-right: 2%;
  }
}

@media screen and (max-width: 640px) {
  .portfolio .checkGithub {
    margin: 1.875em 0 0 10%;
  }

  .portfolio .checkLive {
    margin-left: 10%;
  }
}

/* Portfolio images */

.portfolio figure {
  max-width: 960px;
  margin: 0 auto;
}

.portfolio img {
  max-width: 100%;
}


@media screen and (min-width: 1600px) {
  .portfolio figure {
    float: right;
  }

  #img-left {
    float: left;
  }

  .portfolio .info {
    float: left;
    width: 30%;
    text-align: left;
  }

  .portfolio h3 {
    text-align: left;
  }

  .portfolio .info-right {
    float: right;
  }
}

.portfolio-button:hover {
  filter: invert(1);
}

/* About Section */

.about {
  border-bottom: .5px solid #1f1c1c;
  background-color: #dddddd;
  min-height: 40vh;
  padding: 7rem 0;
  text-align: center;
}

.about h2 {
  color: #222222;
}

.about h3 {
  margin-top: 2rem;
  color: #222222;
  font-size: 2em;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.about p {
  color: #222222;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0 18%;
}

@media screen and (max-width: 1600px) {
  .about p {
    padding: 0 12%;
  }
}

@media screen and (max-width: 1024px) {
  .about p {
    padding: 0;
  }
}

.tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}

.tags-container .tag-button {
  color: #222222;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #222;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.tags-container .tag-button:hover {
  cursor: pointer;
}

.tags-container .tag-button:hover {
  border-radius: 30px;
  transform: scale(1.2);
}

.tags-container .tag-button:hover:after {
  width: 0%;
}

/* Contact Section */
.contact {
  border-bottom: .5px solid #1f1c1c;
  background-color: #222222;
  padding: 7rem 0;
  text-align: center;
}

.contact p {
  text-align: center;
  font-weight: 400;
}

/* .email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
} */
.social-container {
  display: table;
  margin: 0 auto;
}

.email-container a {
  width: 15%;
  max-width: 300px;
}

.email-button {
  text-decoration: none;
  width: 12rem;
  padding: 1rem 1.5rem;
  margin: 2rem 0 3rem 0;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: #222;
  color: #ddd;
  border: 2px solid white;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1600px) {
  .email-button {
    width: 15%;
    max-width: 300px;
  }
}

@media screen and (max-width: 1599px) {
  .email-button {
    width: 25%;
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .email-button {
    width: 35%;
  }
}

@media screen and (max-width: 640px) {
  .email-button {
    width: 60%;
  }
}

.email-button:hover {
  filter: invert(1);
}

.fa-envelope {
  margin-left: 10px;
}

.social-links {
  height: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  .social-links li {
    width: 100%;
    padding: 1.25em 0;
    border-right: 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.185);
  }
}


.social-links li {
  float: left;
  font-size: 0.9rem;
}

.social-links a {
  margin-top: 5px;
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 0 15px;
  line-height: 1em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
}

/* Footer */
.footer {
  display: table;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

.footer-name {
  text-decoration: none;
  color: cyan;
  line-height: 20px;
}

.break {
  display: block;
  height: 10px;
}

@media screen and (min-width:410px) {
  .break {
    display: none;
  }
}